.footer {
  border-top: 1px solid #e5e5e5;
  padding: 25px 0;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .rights {
    font-size: 15px;
    color: #030305;
  }
}
