.price {
  overflow: hidden;

  & .container {
    position: relative;
    padding-bottom: 121px;

    & .sub-title {
      margin-bottom: 20px;
    }
  }

  &-text {
    font-size: 16px;
    line-height: 130%;
    color: #5d5d5f;
    margin-bottom: 60px;
  }

  &-form {
    max-width: 344px;

    & .button {
      width: 100%;
    }
  }

  &-input {
    width: 344px;
    height: 65px;
    border: 1px solid #5d5d5f;
    padding: 22px 18px;
    background: #ffffff;
    font-size: 16px;
    color: #000000;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 15px;

    &::placeholder {
      color: #5d5d5f;
    }
  }

  &-image {
    position: absolute;
    bottom: 0;
    left: 401px;
  }
}

.price-input.ng-touched.ng-valid {
  border: 1px solid #5d5d5f;
}

.price-input.ng-touched.ng-invalid {
  border: 1px solid red;
}
