<section class="car" id="cars">
  <div class="container">
    <h2 class="sub-title">Наш автопарк</h2>
    <div class="car-toggle">
      <div
        [ngClass]="{ active: category === 'sport' }"
        (click)="toggleCategory('sport')"
      >
        Sport
      </div>
      <div
        [ngClass]="{ active: category === 'luxury' }"
        (click)="toggleCategory('luxury')"
      >
        Luxury
      </div>
    </div>
    <div class="car-items">
      <app-car
        *ngFor="let car of carsData"
        [car]="car"
        [price]="price"
        (scroll)="goScroll($event)"
      ></app-car>
    </div>
  </div>
</section>
