.main {
  background-image: url("../../../assets/images/background.png");
  background-position: center;
  background-size: cover;
  padding: 104px 0 154px 0;

  &-info {
    max-width: 855px;
  }

  &-title {
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #030305;
    margin-bottom: 40px;
  }

  &-text {
    font-size: 16px;
    line-height: 130%;
    color: #030305;
    max-width: 502px;
    margin-bottom: 40px;
  }
}
