<section class="main" [ngStyle]="bgPos">
  <div class="container">
    <div class="main-info">
      <h1 class="main-title">Аренда премиальных автомобилей</h1>
      <p class="main-text">
        В нашем клубе имеется солидная коллекция спортивных автомобилей — от
        достаточно распространенных серийных машин до настоящего гоночного
        эксклюзива. Воспользуйтесь уникальной возможностью побывать за рулем
        настоящей легенды и узнать, на что она способна за пределами гоночной
        трассы!
      </p>
      <div class="main-action">
        <button class="button" id="main-action" (click)="goScroll(cars)">
          Посмотреть автомобили
        </button>
      </div>
    </div>
  </div>
</section>
