* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Robotobold.ttf");
  font-weight: bold;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  height: 64px;
  width: 334px;
  padding: 20px;
  border: 0;
  background: #030305;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.5s;

  &:hover:not(:disabled) {
    cursor: pointer;
    background: #575757;
  }

  &:disabled {
    cursor: not-allowed;
    color: gray;
    background-color: #343434;
  }
}

.sub-title {
  font-weight: bold;
  font-size: 60px;
  color: #030305;
  line-height: 70px;
}
